

<div class="col-md-9">
  <div class="chess-holder">
    <div class="col-md-2 timer-holder clock" style="font-size: 20px;">
      <div class="button-holder">
    <span class="glyphicon glyphicon-hourglass button-glyphs"></span>  <p>Player <b>1</b></p><span class="glyphicon glyphicon-minus button-glyphs"></span>
      </div>
        <div class="time-box">
          <div id="time0" class="time-digits"></div>
        </div>
        <div class="space-keeper">
          <p class="line-break"></p>
          <div class="player-info">
            <div class="user-header">
               <p><span class="glyphicon glyphicon-user button-glyphs"></span>ryanG360</p><br><br>
            </div>
            <p>Brooklyn, NY</p><br>
            <p>Ranking: 2400</p><br>
            <p>User Rank:
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>

            </p>
          </div>
        </div>
        <div class="button-holder second-button-holder">
        <span class="glyphicon glyphicon-hourglass button-glyphs"></span><p>Player <b>2</b></p><span class="glyphicon glyphicon-minus button-glyphs"></span>
        </div>
        <div class="time-box">
          <div id="time1" class="time-digits"></div>
        </div>
        <div class="space-keeper">
          <p class="line-break"></p>
          <div class="player-info">
            <div class="user-header">
               <p><span class="glyphicon glyphicon-user button-glyphs"></span>tGold108</p><br><br>
            </div>
            <p>Long Beach, NY</p><br>
            <p>Ranking: 1200</p><br>
            <p>User Rank
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </p>
          </div>
        </div>
    </div>
    <div class="col-md-1">
      <div class="box droppable even border-left border-top" id="box-a1"><span class="glyphicon glyphicon-tower black draggable"></div>
      <div class="box droppable odd border-left" id="box-a2" ><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
      <div class="box droppable even border-left" id="box-a3" ></div>
      <div class="box droppable odd border-left" id="box-a4" ></div>
      <div class="box droppable even border-left" id="box-a5" ></div>
      <div class="box droppable odd border-left" id="box-a6" ></div>
      <div class="box droppable even border-left" id="box-a7" ><span class="draggable glyphicon glyphicon-pawn white"></span></div>
      <div class="box droppable odd border-left border-bottom" id="box-a8" ><span class="draggable glyphicon glyphicon-tower white"></span></div>
    </div>
    <div class="col-md-1">
      <div class="box droppable odd border-top" id="box-b1"><span class="glyphicon glyphicon-knight black draggable"></span></div>
      <div class="box droppable even" id="box-b2"><span class=" glyphicon glyphicon-pawn black draggable "></span></div>
      <div class="box droppable odd" id="box-b3"></div>
      <div class="box droppable even" id="box-b4"></div>
      <div class="box droppable odd" id="box-b5"></div>
      <div class="box droppable even" id="box-b6"></div>
      <div class="box droppable odd" id="box-b7"><span class="draggable glyphicon glyphicon-pawn white "></span></div>
      <div class="box droppable even border-bottom" id="box-b8"><span class="draggable glyphicon glyphicon-knight white "></span></div>
    </div>
    <div class="col-md-1">
      <div class="box droppable even border-top" id="box-c1"><span class="glyphicon glyphicon-bishop black draggable"></span></div>
      <div class="box droppable odd" id="box-c2"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
      <div class="box droppable even" id="box-c3" ></div>
      <div class="box droppable odd" id="box-c4" ></div>
      <div class="box droppable even" id="box-c5" ></div>
      <div class="box droppable odd" id="box-c6" ></div>
      <div class="box droppable even" id="box-c7"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
      <div class="box droppable odd border-bottom" id="box-c8"><span class="draggable glyphicon glyphicon-bishop white"></span></div>
    </div>
    <div class="col-md-1">
      <div class="box droppable odd border-top" id="box-d1"><span class="glyphicon glyphicon-queen black draggable"></span></div>
      <div class="box droppable even" id="box-d2"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
      <div class="box droppable odd" id="box-d3"></div>
      <div class="box droppable even" id="box-d4"></div>
      <div class="box droppable odd" id="box-d5"></div>
      <div class="box droppable even" id="box-d6"></div>
      <div class="box droppable odd" id="box-d7"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
      <div class="box droppable even border-bottom" id="box-d8"><span class="draggable glyphicon glyphicon-queen white"></span></div>
    </div>
    <div class="col-md-1">
      <div class="box droppable even border-top" id="box-e1"><span class=" glyphicon glyphicon-king black draggable"></span></div>
      <div class="box droppable odd" id="box-e2"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
      <div class="box droppable even" id="box-e3" ></div>
      <div class="box droppable odd" id="box-e4" ></div>
      <div class="box droppable even" id="box-e5" ></div>
      <div class="box droppable odd" id="box-e6" ></div>
      <div class="box droppable even" id="box-e7"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
      <div class="box droppable odd border-bottom" id="box-e8"><span class="draggable glyphicon glyphicon-king white"></span></div>
    </div>
    <div class="col-md-1">
      <div class="box droppable odd border-top" id="box-f1"><span class="glyphicon glyphicon-bishop black draggable"></span></div>
      <div class="box droppable even" id="box-f2"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
      <div class="box droppable odd" id="box-f3"></div>
      <div class="box droppable even" id="box-f4"></div>
      <div class="box droppable odd" id="box-f5"></div>
      <div class="box droppable even" id="box-f6"></div>
      <div class="box droppable odd" id="box-f7"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
      <div class="box droppable even border-bottom" id="box-f8"><span class="draggable glyphicon glyphicon-bishop white"></span></div>
    </div>
    <div class="col-md-1">
      <div class="box droppable even border-top" id="box-g1"><span class="glyphicon glyphicon-knight black draggable"></span></div>
      <div class="box droppable odd" id="box-g2"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
      <div class="box droppable even" id="box-g3"></div>
      <div class="box droppable odd" id="box-g4"></div>
      <div class="box droppable even" id="box-g5"></div>
      <div class="box droppable odd" id="box-g6"></div>
      <div class="box droppable even" id="box-g7"><span class="draggable glyphicon glyphicon-pawn white draggable"></span></div>
      <div class="box droppable odd border-bottom" id="box-g8"><span class="draggable glyphicon glyphicon-knight white draggable"></span></div>
    </div>
    <div class="col-md-1 last-div">
      <div class="box droppable odd border-top border-right" id="box-h1"><span class="glyphicon glyphicon-tower black draggable"></div>
      <div class="box droppable even border-right" id="box-h2" ><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
      <div class="box droppable odd border-right" id="box-h3" ></div>
      <div class="box droppable even border-right" id="box-h4" ></div>
      <div class="box droppable odd border-right" id="box-h5" ></div>
      <div class="box droppable even border-right" id="box-h6" ></div>
      <div class="box droppable odd border-right" id="box-h7" ><span class="draggable glyphicon glyphicon-pawn white"></span></div>
      <div class="box droppable even border-bottom border-right" id="box-h8" ><span class="draggable glyphicon glyphicon-tower white"></span></div>
    </div>
    <div class="col-md-2 captured-pieces">
      <div class="white-pieces">
        <div class="button-holder">
          <span class="glyphicon glyphicon-ok-circle button-glyphs"></span><p>Captured Black</p>
        </div>
      </div>
      <div class="space-bottom"></div>
      <div class="black-pieces">
        <div class="button-holder">
        <span class="glyphicon glyphicon-ok-circle button-glyphs"></span><p>Captured White</p>
        </div>
      </div>
      <div class="space-bottom"></div>
    </div>
  </div>
</div>

<div class="sidebar-nav col-md-3">
  <div class="table-holder container-sm">
  <table class="table text-holder">
    <tbody class="text-list">
    </tbody>
  </table>
  </div>
  <div class="buttons">
    <button class="btn"><span class="glyphicon glyphicon-hand-right button-glyphs"></span><li> <%= link_to 'DRAW', "#", style: 'text-decoration: none; color: white;' %></li></button>
    <td></td>
    <button class="btn"><span class="glyphicon glyphicon-flag button-glyphs"></span><li> <%= link_to 'QUIT', "#", style: 'text-decoration: none; color: white;' %></li></button>
  </div>
</div>


<div class="bottom-row"></div>

<script src="assets/chess-clock.js"></script>
<script src="assets/chess.js"></script>
