<div class="chess-holder">
  <div class="col-md-1 col-md-offset-2">

    <div class="box even" id="box-a1"><span class="draggable glyphicon draggable glyphicon-tower black"></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-pawn black"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-pawn white"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-tower white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-knight black draggable"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-pawn white draggable"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-knight white draggable"></span></div>
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-bishop even black"></span>
    <span class="glyphicon glyphicon-pawn odd black"></span>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <span class="glyphicon glyphicon-pawn even white"></span>
    <span class="glyphicon glyphicon-bishop odd white"></span>
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-queen odd black"></span>
    <span class="glyphicon glyphicon-pawn even black"></span>
    <span class="glyphicon glyphicon-none odd"></span>
    <span class="glyphicon glyphicon-none even"></span>
    <span class="glyphicon glyphicon-none odd"></span>
    <span class="glyphicon glyphicon-none even"></span>
    <span class="glyphicon glyphicon-pawn odd white"></span>
    <span class="glyphicon glyphicon-queen even white"></span>
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-king even black"></span>
    <span class="glyphicon glyphicon-pawn odd black"></span>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <span class="glyphicon glyphicon-pawn even white"></span>
    <span class="glyphicon glyphicon-king odd white"></span>
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-bishop odd black"></span>
    <span class="glyphicon glyphicon-pawn even black"></span>
    <span class="glyphicon glyphicon-none odd"></span>
    <span class="glyphicon glyphicon-none even"></span>
    <span class="glyphicon glyphicon-none odd"></span>
    <span class="glyphicon glyphicon-none even"></span>
    <span class="glyphicon glyphicon-pawn odd white"></span>
    <span class="glyphicon glyphicon-bishop even white"></span>
  </div>
  <div class="col-md-1">
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-knight black draggable"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-pawn white draggable"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-knight white draggable"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box odd" id="box-a1"><span class="draggable glyphicon draggable glyphicon-tower black"></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-pawn black"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-pawn white"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-tower white"></span></div>
  </div>

</div>

<script>
$(function(){
  $('.draggable').draggable();
})
</script>
