<div class="chess-holder">
  <div class="col-md-1 col-md-offset-2">

    <div class="box droppable even" id="box-a1"><span class="glyphicon glyphicon-tower black draggable"></div>
    <div class="box droppable odd" id="box-a2" ><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box droppable even" id="box-a3" ></div>
    <div class="box droppable odd" id="box-a4" ></div>
    <div class="box droppable even" id="box-a5" ></div>
    <div class="box droppable odd" id="box-a6" ></div>
    <div class="box droppable even" id="box-a7" ><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box droppable odd" id="box-a8" ><span class="draggable glyphicon glyphicon-tower white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box droppable odd" id="box-b1"><span class="glyphicon glyphicon-knight black draggable"></span></div>
    <div class="box droppable even" id="box-b2"><span class=" glyphicon glyphicon-pawn black draggable "></span></div>
    <div class="box droppable odd" id="box-b3"></div>
    <div class="box droppable even" id="box-b4"></div>
    <div class="box droppable odd" id="box-b5"></div>
    <div class="box droppable even" id="box-b6"></div>
    <div class="box droppable odd" id="box-b7"><span class="draggable glyphicon glyphicon-pawn white "></span></div>
    <div class="box droppable even" id="box-b8"><span class="draggable glyphicon glyphicon-knight white "></span></div>
  </div>
  <div class="col-md-1">
    <div class="box droppable even" id="box-c1"><span class="glyphicon glyphicon-bishop black draggable"></span></div>
    <div class="box droppable odd" id="box-c2"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box droppable even" id="box-c3" ></div>
    <div class="box droppable odd" id="box-c4" ></div>
    <div class="box droppable even" id="box-c5" ></div>
    <div class="box droppable odd" id="box-c6" ></div>
    <div class="box droppable even" id="box-c7"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box droppable odd" id="box-c8"><span class="draggable glyphicon glyphicon-bishop white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box droppable odd" id="box-d1"><span class="glyphicon glyphicon-queen black draggable"></span></div>
    <div class="box droppable even" id="box-d2"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box droppable odd" id="box-d3"></div>
    <div class="box droppable even" id="box-d4"></div>
    <div class="box droppable odd" id="box-d5"></div>
    <div class="box droppable even" id="box-d6"></div>
    <div class="box droppable odd" id="box-d7"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box droppable even" id="box-d8"><span class="draggable glyphicon glyphicon-queen white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box droppable even" id="box-e"><span class=" glyphicon glyphicon-king black draggable"></span></div>
    <div class="box droppable odd" id="box-e"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box droppable even" id="box-e" ></div>
    <div class="box droppable odd" id="box-e" ></div>
    <div class="box droppable even" id="box-e" ></div>
    <div class="box droppable odd" id="box-e" ></div>
    <div class="box droppable even" id="box-e"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box droppable odd" id="box-e"><span class="draggable glyphicon glyphicon-king white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box droppable odd" id="box-f"><span class="glyphicon glyphicon-bishop black draggable"></span></div>
    <div class="box droppable even" id="box-f"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box droppable odd" id="box-f"></div>
    <div class="box droppable even" id="box-f"></div>
    <div class="box droppable odd" id="box-f"></div>
    <div class="box droppable even" id="box-f"></div>
    <div class="box droppable odd" id="box-f"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box droppable even" id="box-f"><span class="draggable glyphicon glyphicon-bishop white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box droppable even" id="box-g"><span class="glyphicon glyphicon-knight black draggable"></span></div>
    <div class="box droppable odd" id="box-g"><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box droppable even" id="box-g"></div>
    <div class="box droppable odd" id="box-g"></div>
    <div class="box droppable even" id="box-g"></div>
    <div class="box droppable odd" id="box-g"></div>
    <div class="box droppable even" id="box-g"><span class="draggable glyphicon glyphicon-pawn white draggable"></span></div>
    <div class="box droppable odd" id="box-g"><span class="draggable glyphicon glyphicon-knight white draggable"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box droppable odd" id="box-h"><span class="glyphicon glyphicon-tower black draggable"></div>
    <div class="box droppable even" id="box-h" ><span class=" glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box droppable odd" id="box-h" ></div>
    <div class="box droppable even" id="box-h" ></div>
    <div class="box droppable odd" id="box-h" ></div>
    <div class="box droppable even" id="box-h" ></div>
    <div class="box droppable odd" id="box-h" ><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box droppable even" id="box-h" ><span class="draggable glyphicon glyphicon-tower white"></span></div>
  </div>

</div>

<script>
$(function(){

  // initialize drag and drop elements with Jquery plugin //
  $('.draggable').draggable({
    snap: ".droppable",
    snapTolerance: 10,
    start: function(event, ui) {
      var startingPoint = $(this).closest('div').attr('id');
      var pieceType = $(this).attr('class');

      if (pieceType.match(/glyphicon-pawn black/)) {
        $('.droppable').droppable("disable");
        $(this).parent().droppable('enable');
        $(this).parent().next().droppable('enable');
      }
      else if (pieceType.match(/glyphicon-pawn white/)) {
        $('.droppable').droppable("disable");
        $(this).parent().droppable('enable');
        $(this).parent().prev().droppable('enable');
      }
    }
  });

  $('.black').draggable('disable');

// disable opponent pieces when player's turn //
  $('.droppable').droppable({
    revert: "invalid",
    drop: function(event, ui) {
      var newBox = $(this).attr('id');
      var piece = ui.draggable.attr('class');
      var oldBox = ui.draggable.parent().attr('id');

      ui.draggable.detach().appendTo($(this)).css('top', '0');

      var newHome = ui.draggable.parent().attr('id');
      console.log(oldBox);
      console.log(newHome);


      var boolTest = $('.white').draggable("option", "disabled");
      if (boolTest === false) {
        $('.white').draggable('disable');
        $('.black').draggable('enable');
      }
      else {
        $('.white').draggable('enable');
        $('.black').draggable('disable');
      }
    }
  });


});
</script>
