<div class="chess-holder">
  <div class="col-md-1 col-md-offset-2">

    <div class="box even" id="box-a"><span class="draggable glyphicon draggable glyphicon-tower black"></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-pawn black"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-none"></span></div>
    <div class="box even" id="box-a" ><span class="draggable glyphicon draggable glyphicon-pawn white"></span></div>
    <div class="box odd" id="box-a" ><span class="draggable glyphicon draggable glyphicon-tower white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-knight black draggable"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box odd" id="box-b"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-b"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-b"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-b"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-b"><span class="glyphicon glyphicon-pawn white draggable"></span></div>
    <div class="box even" id="box-b"><span class="glyphicon glyphicon-knight white draggable"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box even" id="box-c"><span class="draggable glyphicon glyphicon-bishop black"></span></div>
    <div class="box odd" id="box-c"><span class="draggable glyphicon glyphicon-pawn black"></span></div>
    <div class="box even" id="box-c" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-c" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-c" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-c" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-c"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box odd" id="box-c"><span class="draggable glyphicon glyphicon-bishop white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box odd" id="box-d"><span class="draggable glyphicon glyphicon-queen black"></span></div>
    <div class="box even" id="box-d"><span class="draggable glyphicon glyphicon-pawn black"></span></div>
    <div class="box odd" id="box-d"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-d"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-d"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-d"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-d"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box even" id="box-d"><span class="draggable glyphicon glyphicon-queen white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box even" id="box-e"><span class="draggable glyphicon glyphicon-king black"></span></div>
    <div class="box odd" id="box-e"><span class="draggable glyphicon glyphicon-pawn black"></span></div>
    <div class="box even" id="box-e" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-e" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-e" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-e" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-e"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box odd" id="box-e"><span class="draggable glyphicon glyphicon-king white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box odd" id="box-f"><span class="draggable glyphicon glyphicon-bishop black"></span></div>
    <div class="box even" id="box-f"><span class="draggable glyphicon glyphicon-pawn black"></span></div>
    <div class="box odd" id="box-f"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-f"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-f"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-f"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-f"><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box even" id="box-f"><span class="draggable glyphicon glyphicon-bishop white"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box even" id="box-g"><span class="draggable glyphicon glyphicon-knight black draggable"></span></div>
    <div class="box odd" id="box-g"><span class="draggable glyphicon glyphicon-pawn black draggable"></span></div>
    <div class="box even" id="box-g"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-g"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-g"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-g"><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-g"><span class="draggable glyphicon glyphicon-pawn white draggable"></span></div>
    <div class="box odd" id="box-g"><span class="draggable glyphicon glyphicon-knight white draggable"></span></div>
  </div>
  <div class="col-md-1">
    <div class="box odd" id="box-h"><span class="draggable glyphicon glyphicon-tower black"></div>
    <div class="box even" id="box-h" ><span class="draggable glyphicon glyphicon-pawn black"></span></div>
    <div class="box odd" id="box-h" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-h" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-h" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box even" id="box-h" ><span class="draggable glyphicon glyphicon-none"></span></div>
    <div class="box odd" id="box-h" ><span class="draggable glyphicon glyphicon-pawn white"></span></div>
    <div class="box even" id="box-h" ><span class="draggable glyphicon glyphicon-tower white"></span></div>
  </div>

</div>

<script>
$(function(){
  $('.draggable').draggable();
})
</script>
