// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon {
  padding: .3em;
  font-size: 3.2em;
  line-height: .7em;
}
.draggable {
  z-index: 20;
}
.box {
  height: 4.8em;
  width: 4.8em;
}
.col-md-1 {
  margin-left: -10px;
}
.last-div {
  margin-right: 18px;
}
.chess-holder {
  display: block;
  margin-left: 10px;
}
.odd {
  background: #FFFF99;
}
.even {
  background: #003300;
}
.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}
.white {
  color: #fefefe;
  text-shadow: 2px 2px 2px #555;
}
.black {
  color: black;
  text-shadow: 2px 2px 2px #777;
}
.sidebar {
  height: 538px;
  background: #EEE;
  border-radius: 8px;
  box-shadow: -2px 2px 2px #ccc;
  .table-holder {
    height: 90%;
    overflow: auto;
  }
  .text-holder.table {
    height: 100%;
    margin: 20px 0 20px;
    background: white;
    border-radius: 8px;
    box-shadow: -1px 1px #ccc;
    tbody {

    }
  }
}

tr {
  display: inline-table;
  height: 40px;
  width: 270px;
}
.captured-pieces {
  height: 538px;
  background: #eee;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: -2px 2px 2px #ccc;
  .black-pieces {
    height: 50%;
    border-top: 2px solid #CCC;
  }
  .white-pieces {
    height: 50%;
  }
}

.timer-holder {
  height: 538px;
  background: #eee;
  margin-right: 15px;
  border-radius: 8px;
  box-shadow: -2px 2px 2px #ccc;
  .time-box {
    border-radius: 20px;
    box-shadow: -2px 3px 2px #aaa;
    background: #CCC;
    height: 3em;
    margin: 15px 0 290px;
    .time-digits {
      font-size: 40px;
      text-align: center;
      font-weight: 500;
    }
  }
}

.bottom-row {
  height: 100px;
  clear: both;
  .footer-color {
    background: #eee;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    width: 109%;
    border-radius: 8px;
    box-shadow: -2px 2px 2px #ccc;
  }
}
.border-left {
  border-left: 1px solid black;
}
.border-top {
  border-top: 1px solid black;
}
.border-bottom {
  border-bottom: 1px solid black;
}
.border-right {
  border-right: 1px solid black;
}
